/**
 * Float Layout Activity
 **/

* {
  box-sizing: border-box;
  text-align: center;
}

/* INSTRUCTOR: Here is the filled out version of the float activity */

body {
  font-size: 24px;
  line-height: 32px;
  color: #333;
}

header {
  padding: 20px;
  margin-bottom: 20px;
  color: #333;
  background: #ccc;
}

section {
  padding: 20px;
  margin-bottom: 20px;
}


#full {
  width: 100%;
  height: 200px;
  clear: both;
  background: #eee;
  position: relative;
}

aside {
  padding-left: 150px;
  width: 33%;
  height: 200px;
  padding: 20px;
  background: #fff;
  position: absolute;
}

footer {
  padding: 20px;
  clear: both;
  background: #ccc;
}
